.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    line-height: 1.5em;
    transition: var(--transition);
}

.modal-active {
    display: flex;
}

.modal.transparentBg {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.modal .content {
    -webkit-animation: animateout 0.4s;
    animation: animateout 0.4s;
    position: relative;
    background-color: rgb(var(--bg-main));
    margin: auto;
    padding: 0;
    width: 90dvw;
    max-width: 47em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: var(--radius);
}

.modal .content.show {
    -webkit-animation: animatetop 0.4s;
    animation: animatetop 0.4s;
}

.modal .modal-qr {
    margin: auto;
    max-width: 60dvw;
    max-height: 60dvh;
}

:root[data-theme="dark"] .modal .modal-qr {
    filter: invert(1);
}

@-webkit-keyframes animatetop {
    from {
        top: 20px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: 20px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animateout {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 20px;
        opacity: 0;
    }
}

@keyframes animateout {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 20px;
        opacity: 0;
    }
}

.close {
    font-weight: 700;
    transition: var(--transition);
}

.close:hover,
.close:focus {
    color: rgb(var(--primary));
    text-decoration: none;
    cursor: pointer;
}

.close .twemoji {
    margin-right: 0;
}

.modal .header {
    padding: 1em;
    background-color: rgb(var(--bg-body));
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.modal .header h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

.modal .body {
    padding: 1.75em 2.25em;
    max-height: 80dvh;
    overflow-y: auto;
}

.modal .body>*:first-child {
    margin-top: 0;
}

.modal .body>*:last-child {
    margin-bottom: 0;
}

.modal .footer {
    padding: 1em;
    color: rgb(var(--text-paragraph));
    background-color: rgba(var(--bg-body), 0.7);
    border-radius: 0 0 var(--radius) var(--radius);
}

.modal .footer p:first-child {
    margin-top: 0;
}

.modal .footer p:last-child {
    margin-bottom: 0;
}